<h1>Pages#score</h1>
<p>Find me in app/views/pages/score.html.erb</p>

<h1>your word is: <%=@word%></h1>

<h1>******** Now your result ********</h1>



<!-- <p>Time taken to answer: <%= @time %>s</p> -->


<p>Time: <%= @game[:time] %></p>
<p><%= @game[:translation] %></p>
<p>Score: <%= @game[:score] %></p>
<p>Message: <%= @game[:message] %></p>

